::-webkit-scrollbar {
    display: none;
  }
  * {
      padding: 0;
      margin: 0;
    }
  .navbar {
      text-decoration: none;
      font-family: 'Bebas Neue', cursive;
      list-style-type: none;
      position: relative;
      left: 1000px;
      bottom: 60px;
  }
  .navbar ul {
      display: inline-block;
      list-style-type: none;
      margin: 0;
      padding: 0;
  }
  .navbar ul li {
      margin: 0;
      padding: 10px;
    }
  .navbar ul li a {
      font-size: 15px;
      text-decoration: none;
      color: rgb(255, 255, 255);
  }
  .menu_css {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
      position: relative;
      bottom: 20px;
  }
  #title {
      padding: 15px;
      font-family: 'Bebas Neue', cursive;
      background-color: rgb(255, 255, 255);
      font-size: 40px;
  }
  button {
    --border-radius: 25px;
    --border-width: 7px;
    appearance: none;
    position: relative;
    padding: 1em 2em;
    border: 0;
    background-color: #212121;
    font-family: "Roboto", Arial, "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #ffff;
    z-index: 2;
  }
  
  button::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--border-width);
    background-image: conic-gradient(
          #ff0080,
          #ff0080,
          #ff0080,
          #ff0080,
          #ff0080,
          #ff0080,
          #ff0080
      );
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue634 linear 500ms infinite;
    animation-play-state: paused;
    border-radius: 20px;
    border-color: #000;
  }
  
  button:hover::after {
    animation-play-state: running;
    border-radius: 10px;
  }
  
  @keyframes rotate-hue634 {
    to {
      filter: hue-rotate(1turn);
    }
  }
  
  button,
  button::after {
    box-sizing: border-box;
    border-radius: 20px;
  }
  
  button:active {
    --border-width: 5px;
  }
  
  .bn {
    padding: 0.9em 1.6em;
    border: none;
    outline: none;
    color: #FFF;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 32px;
  }
  
  .bn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(46, 46, 46);
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  .bn::before {
    content: "";
    background: linear-gradient(
      45deg,
      #07d888, #e40851, #2f00ff, #00ff37,
        #ec0808, #2600ff, #0bd157, #2f00ff
  );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing345 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 20px;
    opacity: 0;
  }
  
  @keyframes glowing345 {
    0% {
      background-position: 0 0;
    }
  
    50% {
      background-position: 400% 0;
    }
  
    100% {
      background-position: 0 0;
    }
  }
  
  .bn:hover::before {
    opacity: 1;
  }
  
  .bn:active:after {
    background: transparent;
  }
  
  .bn:active {
    color: #000;
    font-weight: bold;
  }

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.spinner {
    height: 50px;
    width: max-content;
    font-size: 25px;
    font-weight: 600;
    font-family: monospace;
    letter-spacing: 1em;
    color: #333232;
    filter: drop-shadow(0 0 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 15px;
   }
   
   .spinner span {
    animation: loading6454 1.75s ease infinite;
   }
   
   .spinner span:nth-child(2) {
    animation-delay: 0.25s;
   }
   
   .spinner span:nth-child(3) {
    animation-delay: 0.5s;
   }
   
   .spinner span:nth-child(4) {
    animation-delay: 0.75s;
   }
   
   .spinner span:nth-child(5) {
    animation-delay: 1s;
   }
   
   .spinner span:nth-child(6) {
    animation-delay: 1.25s;
   }
   
   .spinner span:nth-child(7) {
    animation-delay: 1.5s;
   }
   
   @keyframes loading6454 {
    0%, 100% {
     transform: translateY(0);
    }
   
    50% {
     transform: translateY(-10px);
    }
   }
   .cuadrado > * {
    background-color: goldenrod;
    padding: 10px;
    font-size: 3em;
    padding: 100px;
    margin: 10px;
    position: relative;
    bottom: 50px;
}
.cuadrado {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "header"
        "side"
        "main"
        "footer";
}
@media (min-width: 500px) {
    .cuadrado {
        grid-template-areas:
        "header header header"
        "side side main"
        "footer footer footer";
    }
}
#header1 {
    grid-area: header;
}

#main2 {
    grid-area: main;
}

#side3 {
    grid-area: side;
}
#footer4 {
    grid-area: footer;
}
#body1 {
    background-color: #282c34
  }
  .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #03afff;
    border-radius: 4px;
    transition: transform 0.6s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
    position: relative;
    bottom: 50px;
  }
  
    @media (min-width: 600px) {
        .wide {
          grid-column: span 2;
        }
        .tall {
          grid-row: span 2;
        }
      }
  
